.subtitle {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

.wishlist-subtitle {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    padding: 30px 60px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.create-form label {
    display: grid;
    margin-bottom: 15px;
    font-weight: bolder;
}

.create-form input, .create-form textarea, .create-form select {
    margin-top: 3px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.existing-resource-label {
    margin-top: 20px !important;
}

.warning {
    color: var(--primary-color);
    font-weight: bolder;
    margin-bottom: 15px;
    margin-top: -5px;
    font-size: small;
}

.create-form button {
    display: flex;
    align-items: center;
    margin: auto;
    height: 30px;
    border: none;
    background-color: hsl(0, 0%, 90%);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    transition-duration: 0.2s;
    margin-top: 15px;
    padding: 16px 20px;
}

.add-to-wishlist-buttons button {
    display: flex;
    align-items: center;
    height: 30px;
    border: none;
    background-color: hsl(0, 0%, 90%);
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    transition-duration: 0.2s;
    padding: 16px 20px;
}

.add-to-wishlist-buttons {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.create-form button:hover, .add-to-wishlist-buttons button:hover, .create-form .go-back:hover{
    background-color: white;
    border: 1px solid hsl(0, 0%, 75%);
}

.create-form div {
    display: flex;
    justify-content: center;
    width: auto;
    gap: 2em;
}

.create-form div.location {
    flex-direction: column;
}

.create-form div.location div {
    display: flex;
    justify-content: space-between;
}

.create-form div.location div#top-line {
    margin-bottom: -30px;
}

.create-form .location .location-label {
    margin-top: 15px;
    margin-bottom: -20px;
    font-size: x-large;
}

.create-form .go-back {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-color: hsl(0, 0%, 90%);
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    align-self: baseline;
    font-family: monospace;
    margin-left: -40px;
    margin-top: -10px;
}
