.table-container {
    overflow-x: auto;
}

/* Always show scrollbar */
.table-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-container::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff; /* should match the background color */
}

.table-container::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
}

table, th, td {
    border: 1px solid #ddd !important;
    padding: 8px;
}

th {
    background-color: hsl(0, 0%, 75%);
    font-weight: bolder;
}

td {
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: hsl(0, 0%, 90%);
}

.title {
    font-size: 2em;
    font-weight: bold;
}

#search_filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px !important;
    
}

#search_filters input,
#search_filters select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    height: 30px;
}

#search_filters .create-resource {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: hsl(0, 0%, 75%);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.2s;
    border-radius: 5px;
    border: none;
    margin-left: auto;
}

#search_filters .create-resource:hover {
    background-color: white;
    border: 1px solid hsl(0, 0%, 75%);
}

.actions {
    max-width: 85px;
}

.actions button, .move-to-resources button {
    background-color: hsl(0, 0%, 75%);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 0px;
    transition-duration: 0.2s;
    border-radius: 5px;
    padding: 2px 8px;
}

.actions button:hover, .move-to-resources button:hover {
    background-color: white;
    border: 1px solid hsl(0, 0%, 75%);
}

.priority-edit-select {
    padding: 6px;
}

.move-subtitle {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 27, 27, 0.5); /* Semi-transparent black */
    z-index: 999; /* One less than the form so it's behind it */
}

#popupForm {
    position: fixed; /* Position the form in the middle of the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the form */
    z-index: 1000; /* Make sure the form is in front of everything else */
    background-color: white; /* Set the background color of the form */
    padding: 20px; /* Add some padding around the form */
    border-radius: 10px; /* Round the corners of the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the form */
}

#popupForm label {
    display: grid;
    font-weight: bolder;
}

#popupForm input{
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: -webkit-fill-available;
}

#popupForm button {
    display: flex;
    align-items: center;
    margin: auto;
    height: 30px;
    border: none;
    background-color: hsl(0, 0%, 75%);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    transition-duration: 0.2s;
    margin-top: 15px;
    padding: 16px 20px;
}

#moveToResourcesButtons {
    display: flex;
}

#moveToResourcesForm {
    padding: 6px;
}

